<% content_for :page_title do %>
  <span class="col-md-offset-5 col-xs-offset-5 page-title"><%= t(:revenue_report_page_title, scope: [:action]) %></span>
<% end %>


<div class="table-responsive col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
  <div class="panel panel-default">  
    <table class="table table-striped table-hover ">

      <thead>
        <tr>
          <th nowrap>#</th>
          <th nowrap>TITLE</th>
          <th nowrap>PRICE</th>
          <th nowrap>DISCOUNT PRICE</th>
          <th nowrap>QUANTITY ORDERED</th>
          <th nowrap>UNIQUE ORDERS</th>
          <th nowrap>REVENUE GENERATED</th>
        </tr>
      </thead>
      
      <tbody>
        <% @deals.each.with_index(1) do |deal, serial_number| %>
          <tr>
            <td><%= serial_number %></td>
            <td><%= deal.title %></td>
            <td><%= number_to_currency(deal.price) %></td>
            <td><%= number_to_currency(deal.discount_price) %></td>
            <td><%= deal.presenter.quantity_ordered %></td>
            <td><%= deal.presenter.unique_orders %></td>
            <td><%= deal.presenter.revenue_generated %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
