<br>
<div class="table-responsive">
    <div class="panel panel-default">  
      <table class="table table-striped table-hover">
        
        <thead>
          <tr>
            <th nowrap>#</th>
            <th nowrap>INVOICE NUMBER</th>
            <th nowrap>USER EMAIL</th>
            <th nowrap>COMPLETION TIME</th>
            <th nowrap>
              <% if orders.first.delivered? %>
                DELIVERY TIME
              <% elsif orders.first.cancelled? %>
                CANCELLATION TIME
              <% end %>
            </th>
            <th nowrap>QUANTITY</th>
            <th nowrap>ITEM(S) SUBTOTAL</th>
            <th nowrap>LOYALTY DISCOUNT</th>
            <th nowrap>GRAND SUBTOTAL</th>
            <th nowrap></th>
          </tr>
        </thead>
        
        <tbody>
          <% orders.includes(:user).each.with_index(1) do |order, serial_number| %>
            <tr>
              <td><%= serial_number %></td>

              <td><%= order.invoice_number %></td>

              <td><%= order.user.email %></td>
            
              <td><%= order.completed_at %></td>
                
              <td>
                <% if order.delivered? %>
                  <%= order.delivered_at %>
                <% elsif order.cancelled? %>
                  <%= order.cancelled_at %>
                <% end %>
              </td>

              <td><%= order.total_items_quantity %></td>

              <td><%= number_to_currency(order.items_subtotal) %></td>

              <td><%= number_to_currency(order.loyalty_discount) %></td>

              <td><%= number_to_currency(order.total_amount) %></td>

              <td>
                <%= link_to t(:page_action_show, scope: [:action]), admin_order_path(order.invoice_number) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
