<% content_for :page_title do %>
  <span class="col-md-offset-5 col-xs-offset-5 page-title"><%= t(:order_page_title, scope: [:action]) %></span>
<% end %>

<div class="browse-order clearfix">
  <%= form_with(scope: :search, url: admin_orders_path, local: true, method: :get, class: 'navbar-form navbar-left') do |form| %>
    <%= form.text_field :email, class: 'form-control', placeholder: 'test@mail.com' %>
    <%= form.submit I18n.t(:filter, scope: [:action]), class: 'btn btn-default' %>
  <% end %>
</div>
<br>

<div class="col-md-12 col-xs-12">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#ready-for-delivery-orders" data-toggle="tab" aria-expanded="true">Ready for Delivery Orders</a></li>
    <li class=""><a href="#delivered-orders" data-toggle="tab" aria-expanded="false">Delivered Orders</a></li>
    <li class=""><a href="#cancelled-orders" data-toggle="tab" aria-expanded="false">Cancelled Orders</a></li>
  </ul>

  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="ready-for-delivery-orders">
      <% if @ready_for_delivery_orders.empty? %>
        <h3>No Orders for delivery</h3>
      <% else %>
        <%= render partial: 'orders', object: @ready_for_delivery_orders %>
      <% end %>
    </div>

    <div class="tab-pane fade" id="delivered-orders">
      <% if @delivered_orders.empty? %>
        <h3>No Delivered Orders</h3>
      <% else %>
        <%= render partial: 'orders', object: @delivered_orders %>
      <% end %>
    </div>
    
    <div class="tab-pane fade" id="cancelled-orders">
      <% if @cancelled_orders.empty? %>
        <h3>No Cancelled Orders</h3>
      <% else %>
        <%= render partial: 'orders', object: @cancelled_orders %>
      <% end %>
    </div>
  </div>
</div>
