<div class="jumbotron registration-form">
  <%= form_with(scope: user, url: url, local: true, method: method) do |form| %>
    <fieldset>
      <legend><%= form_legend %></legend>

      <div class="form-group">
        <%= form.label :name, 'Your Name', class: 'required-field' %>
        <%= form.text_field :name, id: :user_name, class: 'form-control', placeholder: 'John Targaryn' %>
        <%= display_error(:name, user) %>
      </div>
      
      <div class="form-group">
        <%= form.label :email, 'Email Address', class: 'required-field' %>
        <%= form.email_field :email, id: :user_email, class: 'form-control', placeholder: 'myemail@gmail.com' %>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <%= display_error(:email, user) %>
      </div>

      <div class="form-group">
        <%= form.label :password, class: 'required-field' %>
        <%= form.password_field :password, id: :user_password, class: 'form-control', placeholder: '******' %>
        <%= display_error(:password, user) %>
      </div>

      <div class='form-group'>
        <%= form.label :password_confirmation, 'Confirm Password', class: 'required-field' %>
        <%= form.password_field :password_confirmation, id: :user_password_confirmation, class: 'form-control', placeholder: '******' %>
        <%= display_error(:password_confirmation, user) %>
      </div>

      <% if user.id %>
        <%= form.submit 'Update', class: 'btn btn-primary' %>
      <% else %>
        <%= form.submit 'Sign Up', class: 'btn btn-primary' %>
      <% end %>
    </fieldset>
  <% end %>
</div>
