<% if current_order.nil? || current_order.line_items.empty? %>
 <h3 class="text-centre">Cart is Empty</h3>

<% else %>
  <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
    
    <div class="table-responsive ">
      <div class="panel panel-default">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th></th>
              <th nowrap>TITLE</th>
              <th nowrap>UNIT PRICE</th>
              <th nowrap>QUANTITY</th>
              <th nowrap>LOYALTY DISCOUNT</th>
              <th nowrap>TOTAL PRICE</th>
              <th nowrap></th>
            </tr>
          </thead>
          <tbody>
            <%= render current_order.line_items.includes(:deal) %>
          <tr>
            <td colspan="4"><strong><p class="col-md-offset-6">Total Loyalty Discount</p></strong></td>
            <td colspan="2"><strong><%= number_to_currency(current_order.loyalty_discount) %></strong></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="5"><strong><p class="col-md-offset-8">SUBTOTAL:</p></strong></td>
            <td colspan="2"><strong><%= number_to_currency(current_order.total_amount) %></strong></td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div>
      <%= link_to I18n.t(:empty_cart, scope: [:action]), order_url(current_order), method: :delete, class: 'btn btn-danger col-md-offset-1', data: { confirm: 'Are you sure?' } %>
      <%= link_to I18n.t(:continue, scope: [:action]), new_address_url, class: 'btn btn-success col-md-offset-7' %>
    </div>
    
  </div>
<% end %>
