<article class="expired-deals col-md-12 col-xs-12">
  <h2 class="col-md-6 col-md-offset-5 col-xs-6 col-xs-offset-5">Past Deals</h2>

    <% expired_deals.each do |deal| %>
      <section class="deal panel panel-default col-md-4 col-xs-6">
        <div class="panel-body">

          <div class="deal-images col-md-11 col-xs-11">
            <ul class= 'bxslider', data-slider='deal-preview-image'>
              <% if deal.images.exists? %>
              
                  <% deal.images.each do |deal_image| %>
                    <li><%= image_tag deal_image.avatar.url(:medium) %></li>
                  <% end %>
              
              <% else %>
                <li><%= image_tag NO_IMAGE_AVAILABLE_PATH, size: '240' %></li>
              <% end %>
            </ul>
          </div>

          <h3 class="text-centre"><strong><%= deal.title %></strong></h3>
 
          <div class="row">
            <div class="col-md-6 col-xs-6">
              <p>
                <span class="text-muted"><del><%= number_to_currency(deal.price) %><del></span>
                <span class="lead text-success"><%= number_to_currency(deal.discount_price) %></span>
              </p>
            </div>
            <div class="col-md-4 col-md-offset-1 col-xs-5 col-xs-offset-1">
              <p class="lead text-danger">Sold Out</p>
              <%= link_to I18n.t(:view_deal, scope: :action), deal_url(deal), class: 'btn btn-primary' %>
            </div>
          </div>

          <hr class="col-md-11">
          <div class="col-md-12 col-xs-12">
            <%= strip_html_and_truncate(deal.description, 80) %>
          </div>

        </div>
      </section>
    <% end %>

</article>
