<%= javascript_include_tag "slideshow.js" %>

<article class="deal-view panel panel-default">
  <div class= 'panel-body'>

    <h1 class="deal-title col-md-12"><%= @deal.title %></h1>

    <section class="col-md-7 left-side">
      <div class="deal-images col-md-12 col-xs-12 ">
        <ul class= 'bxslider deal-show-images', data-slider='images-slider', data-width='600'> 
          <% if @deal.images.exists? %>
          
              <% @deal.images.each do |deal_image| %>
                <li><%= image_tag deal_image.avatar.url(:large) %></li>
              <% end %>
          
          <% else %>
            <li><%= image_tag NO_IMAGE_AVAILABLE_PATH, size: '600' %></li>
          <% end %>
        </ul>
      </div>
    </section>
  
    <section class="col-md-5 deal-details right-side">
      <div class="col-md-10 col-xs-10 col-md-offset-1">
        <% if @deal.is_live? %>
          <p class="deal-countdown-timer text-centre", data-timer='yes', data-end-at="<%= @deal.end_at %>"></p>
        <% end %>
        <h2>
          <span class="lead text-danger text-muted "><del><%= number_to_currency(@deal.price) %><del></span>
          <span class="text-success"><%= number_to_currency(@deal.discount_price) %></span>
        </h2>
        <p>Only <span class="lead text-primary"><%= @deal.quantity %></span> more left</p>
        <br>

        <% if @deal.is_live? %>
          <div>
            <%= form_with(scope: :line_item, url: line_items_url(deal_id: @deal), local: true) do |form| %>
            
            <div class="form-group">
              <%= form.label :quantity%>
              <%= form.select(:quantity, options_for_select(((1..@deal.quantity).step(1).to_a),1), {}, { class: 'form-control', id: :line_item_quantity }) %>
            </div>

            <%= form.submit I18n.t(:add_to_cart, scope: :action), class: "btn btn-success btn-lg add-to-cart-btn" %>
            <% end %>
            <p><small class="form-text text-muted">Can be ordered only once.</small></p>
          </div>


        <% elsif @deal.is_expired? %>
          <%= button_to I18n.t(:add_to_cart, scope: :action), line_items_url(deal_id: @deal), class: "btn btn-success btn-lg add-to-cart-btn disabled" %>
          <br><br>
          <p class="lead text-danger">Sold Out</p>
        <% end %>    
      </div>
   
      <hr class="col-md-11 col-xs-11">
      <div class="deal-description col-md-12 col-xs-12">
        <%= @deal.description.html_safe %>
      </div>
    
    </section>
  <div>
</article>


