<p>
  <%= t(:greeting, scope: [:order_mailer, :confirmation_email]) %> <%= @user.name %><br>
  <br>
  <%= t(:first_line, scope: [:order_mailer, :confirmation_email]) %>.<br>
  <%= t(:second_line, scope: [:order_mailer, :confirmation_email], invoice_number: @invoice_number) %>
  <br><br>
  <%= t(:third_line, scope: [:order_mailer, :confirmation_email], count: @order.quantity) %>:<br>
</p>

<%= render 'shared/final_cart', current_order: @order %>
