<% content_for :page_action do %>
  <%= link_to t(:page_action_new_user, scope: [:action]), new_admin_user_url, class: 'btn btn-success col-md-offset-10 col-xs-offset-9 page-action' %>
<% end %>

<% content_for :page_title do %>
  <span class="col-md-offset-10 col-xs-offset-10 page-title"><%= t(:user_page_title, scope: [:action]) %></span>
<% end %>


<div class="table-responsive">
  <div class="panel panel-default">  
    <table class="table table-striped table-hover ">

      <thead>
        <tr>
          <th>#</th>
          <th>NAME</th>
          <th>EMAIL</th>
          <th>ADMIN</th>
          <th>CONFIRMED AT</th>
          <th>STATUS</th>
        </tr>
      </thead>
      
      <tbody>
        <% @users.each.with_index(1) do |user, serial_number| %>
          <tr>

            <td><%= serial_number %></td>

            <td><%= user.name %></td>

            <td><%= user.email%></td>

            <td><%= user.admin? %></td>

            <td><%= user.presenter.confirmation_status %></td>

            <td><%= user.presenter.status %></td>
            <td>
              <%= link_to t(:page_action_show, scope: [:action]), admin_user_url(user) %>
              <% unless user.admin? %>
                | <%= link_to t(:page_action_edit, scope: [:action]), edit_admin_user_url(user)%>
              <% end %>
            </td>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
