<% content_for :page_title do %>
  <span class="col-md-offset-4 col-xs-offset-4 page-title"><%= t(:deal_report_page_title, scope: [:action]) %></span>
<% end %>


<div class="table-responsive">
  <div class="panel panel-default">  
    <table class="table table-striped table-hover ">

      <thead>
        <tr>
          <th nowrap>#</th>
          <th nowrap>TITLE</th>
          
          <th nowrap>
            PRICE 
            (<%= link_to I18n.t(:min, scope: :action), admin_report_deals_report_index_path(order_by: 'price_ascending')%> / <%= link_to I18n.t(:max, scope: :action), admin_report_deals_report_index_path(order_by: 'price_descending') %>)
          </th>
          
          <th nowrap>
            DISCOUNT PRICE 
            (<%= link_to I18n.t(:min, scope: :action), admin_report_deals_report_index_path(order_by: 'discount_price_ascending')%> / <%= link_to I18n.t(:max, scope: :action), admin_report_deals_report_index_path(order_by: 'discount_price_descending') %>)
          </th>
          
          <th nowrap>
            SELLING PRICE AFTER MAXIMUM LOYALTY DISCOUNT 
            (<%= link_to I18n.t(:min, scope: :action), admin_report_deals_report_index_path(order_by: 'loyalty_discount_ascending')%> / <%= link_to I18n.t(:max, scope: :action), admin_report_deals_report_index_path(order_by: 'loyalty_discount_descending') %>)
          </th>
        </tr>
      </thead>
      
      <tbody>
        <% @deals.each.with_index(1) do |deal, serial_number| %>
          <tr>

            <td><%= serial_number %></td>

            <td><%= deal.title %></td>

            <td><%= number_to_currency(deal.price) %></td>
            
            <td><%= number_to_currency(deal.discount_price) %></td>

            <td><%= number_to_currency((deal.discount_price * (100 - LOYALTY_DISCOUNT_SLABS['maximum'])) / 100) %></td>
          
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
