<% content_for :page_action do %>
  <%= link_to t(:page_action_new_deal, scope: [:action]), new_admin_deal_url, class: 'btn btn-success col-md-offset-10 col-xs-offset-9 page-action' %>
<% end %>

<% content_for :page_title do %>
  <span class="col-md-offset-10 col-xs-offset-10 page-title"><%= t(:deal_page_title, scope: [:action]) %></span>
<% end %>

<div class="col-md-12 col-xs-12">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#live-deals" data-toggle="tab" aria-expanded="true">Live Deals</a></li>
    <li class=""><a href="#future-deals" data-toggle="tab" aria-expanded="false">Future Deals</a></li>
    <li class=""><a href="#expired-deals" data-toggle="tab" aria-expanded="false">Expired Deals</a></li>
    <li class=""><a href="#unpublished-deals" data-toggle="tab" aria-expanded="false">Unpublished Deals</a></li>
  </ul>

  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="live-deals">
      <% if @live_deals.empty? %>
        <h3>No Live Deals</h3>
      <% else %>
        <%= render partial: 'deals', object: @live_deals %>
      <% end %>
    </div>

    <div class="tab-pane fade" id="future-deals">
      <% if @future_deals.empty? %>
        <h3>No Future Deals</h3>
      <% else %>
        <%= render partial: 'deals', object: @future_deals %>
      <% end %>
    </div>
    
    <div class="tab-pane fade" id="expired-deals">
      <% if @expired_deals.empty? %>
        <h3>No Expired Deals</h3>
      <% else %>
        <%= render partial: 'deals', object: @expired_deals %>
      <% end %>
    </div>

    <div class="tab-pane fade" id="unpublished-deals">
      <% if @unpublished_deals.empty? %>
        <h3>No Unpublished Deals</h3>
      <% else %>
        <%= render partial: 'deals', object: @unpublished_deals %>
      <% end %>
    </div>
  </div>
</div>
