<% content_for :page_title do %>
  <%= link_to 'Deals', admin_deals_url, class: 'btn-link col-md-offset-5 col-xs-offset-5 page-title' %>
<% end %>

<% if @deal.errors.any? %>
  <%= render 'shared/form_errors', model_object: @deal %>
<% end %>

<div class="form-div col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
  <%= nested_form_for(@deal, url: admin_deals_path) do |form| %>
    <fieldset>
      <div class="form-group">
        <h4 class= 'col-md-offset-5 col-xs-offset-5'>Create Deal</h4>
      </div>
      
      <%= render 'form', deal: @deal, form: form %>

      <%= form.submit t(:create_deal, scope: [:action]), class: 'btn btn-primary col-md-offset-5' %>
    </fieldset>
  <% end %>
</div>
