<% content_for :page_title do %>
  <%= link_to t(:deal_page_title, scope: [:action]), admin_deals_url, class: 'btn-link col-md-offset-10 page-title col-xs-offset-10' %>
<% end %>

<% content_for :page_action do %>
  <%= link_to t(:page_action_edit, scope: [:action]), edit_admin_deal_url(@deal), class: 'btn btn-success page-action col-md-offset-8 col-xs-offset-8' %>
  <%= link_to t(:page_action_destroy, scope: [:action]), admin_deal_url(@deal), method: 'delete', data: { confirm: 'Are you sure?' }, class: 'btn btn-danger page-action' %>
<% end %>

<div class="row">
  <div class="deal-images col-md-3 col-xs-3">
    <ul class= 'bxslider deal-images-slider'>
      <% if @deal.images.exists? %>
      
          <% @deal.images.each do |deal_image| %>
            <li><%= image_tag deal_image.avatar.url(:product) %></li>
          <% end %>
      
      <% else %>
        <li><%= image_tag NO_IMAGE_AVAILABLE_PATH, size: '240' %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-8 col-xs-8">
    <table class='table table-striped table-hover'>
      <tr>
        <td>Title</td>
        <td><%= @deal.title %></td>
      </tr>
      
      <tr>
        <td>Description</td>
        <td><%= @deal.description %></td>
      </tr>
      
      <tr>
        <td>Price</td>
        <td><%= @deal.price %></td>
      </tr>
      
      <tr>
        <td>Discount Price</td>
        <td><%= @deal.discount_price %></td>
      </tr>

      <tr>
        <td>Quantity</td>
        <td><%= @deal.quantity %></td>
      </tr>

      <tr>
        <td>Publishing Date</td>
        <td>
          <% if @deal.has_publishing_date? %>
            <%= @deal.publishing_date %>
          <% else %>
            No Date Set
          <% end %>
        </td>
      </tr>

      <tr>
        <td>Publishing Start Time</td>
        <td>
          <% if @deal.publish_start_at.nil? %>
            No Time Set
          <% else %>
            <%= @deal.publish_start_at.strftime("%H:%M:%S") %>
          <% end %>
        </td>
      </tr>

      <tr>
        <td>Publishing End Time</td>
        <td>
          <% if @deal.publish_end_at.nil? %>
            No Time Set
          <% else %>
            <%= @deal.publish_end_at.strftime("%H:%M:%S") %>
          <% end %>
        </td>
      </tr>

      <tr>
        <td>Publishing status: </td>
        <td>
          <% if @deal.has_publishing_date? %>
            Deal is published

          <% else %>
            <p>Deal Cannot be published because:-</p>
            
            <ul class="list-group">
              <li class="list-group-item">
                No Publishing Date has been Set
              </li>

              <% @deal.publishing_issues.each do | issues | %>
                <li class="list-group-item">
                  <%= issues %>
                </li>
              <% end %>
            </ul>
          <% end %>
        
        </td>
      </tr>
    </table>
  </div>
</div>
